*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.box{
    width: 600px;
    background-color: rgb(40, 222, 40);
    margin: 100px auto;
    height: 450px;
    padding: 30px;
    border-radius: 10px;
    line-height: 40px;
}
h1{
    width: 40%;
    margin-top: 100px;
}
button{
    border: none;
    outline: none;
    padding: 10px;
    height: 50px;
    border-radius: 30px;
    width: 200px;
    cursor: pointer;
}